<a href="https://colab.research.google.com/github/JoshuneArriaga/FCFM/blob/main/Ej_Python_1853668.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios Python

**Ejercicio 1**

In [ ]:
mat="1853668"
nom=  "Joshune Judith Arriaga Gomez"
nommat= nom + mat
print(nommat)

**Ejercicio 2**

In [ ]:
x= int(input("Introduce un número: "))
y=int(input("Introduce otro numero: "))

op=0


while op<1:
  print("Que desea hacer? 1)Sumar 2)Restar 3)Multiplicar 4) Dividir 5)Exponente 6)Salir")
  op= int(input("Opcion: "))

  if op ==1:
    print("Resultado: ", x+y)
    op=0
  elif op ==2:
   print("Resultado: ", x-y)
   op=0
  elif op ==3:
     print("Resultado: ", x*y)
     op=0
  elif op==4:
    print("Resultado: ", x/y)
    op=0
  elif op==5:
    print("Resultado: ", x**y)
    op=0
  elif op==6:
    print("Gracias por usar el programa")
    op= 6
  else:
      print("opcion invalida")

**Ejercicio 3**

In [ ]:
for i in range(1,30):
  if i % 3==0:
    print(i)

suma=0
for i in range(1,31):
  if i % 3==0:
    suma= suma + i

print("Suma: ", suma)

**Ejercicio 4**

In [ ]:
num=int(input("Introduzca un numero: "))

if num % 2 ==0:
  print("El numero ", num, "es par")
else:
 print("El numero ", num, "es impar")

cont=1
for i in range(2,num+1):
  if num% i==0:
    cont= cont +1

if cont ==2:
  print("El numero ",num,"es primo")
else:
   print("El numero ",num,"No es primo")

Ejercicio 5

In [ ]:
#Calculadora usando clases

class calc:
  def __init__(self, n1, n2):
    self.n1=int(n1)
    self.n2=int(n2)

  def suma(self):
        sum = self.n1 + self.n2
        print("Resultado: ", sum)

  def resta(self):
        rest= self.n1 - self.n2
        print("Resultado: ", rest)

  def multiplicar(self):
        mult = self.n1 * self.n2
        print("Resultado: ", mult)

  def division(self):
        div = self.n1 / self.n2
        print("Resultado: ", div)

  def exponente(self):
     exp = self.n1 ** self.n2
     print("Resultado: ", exp)

n1= int(input("Introduce un número: "))
n2=int(input("Introduce otro numero: "))

calculadora=calc(n1,n2)
  
op=0

#Menu opciones
while op<1:
  print("Que desea hacer? 1)Sumar 2)Restar 3)Multiplicar 4) Dividir 5)Exponente 6)Salir")
  op= int(input("Opcion: "))
  
  if op ==1:
    calculadora.suma()
    op=0
  elif op ==2:
   calculadora.resta()
   op=0
  elif op ==3:
     calculadora.multiplicar()
     op=0
  elif op==4:
    calculadora.division()
    op=0
  elif op==5:
    calculadora.exponente()
    op=0
  elif op==6:
    print("Gracias por usar el programa")
    op= 6
  else:
      print("opcion invalida")

**Ejercicios Tupla**



*   Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es

In [ ]:

x=45.56
y=80
z=True
u=657.23e+34

print(type(x))
print(type(y))
print(type(z))
print(type(u))



*   Crear una tupla con valores enteros imprimir el primer y ultimo valor

In [101]:
#
t1 = (20, 45, 10, 9, 13, 30)

print(t1[0])

print(t1[5])

20
30



*   Añadir 3 valores de string a la tupla.

In [ ]:
t1 = (20, 45, 10, 9, 13, 30)
t1 = t1.__add__(('s1',))
t1=t1.__add__(('s2',))
t1=t1.__add__(('s3',))
print(t1)
#Verificar si una variable existe dentro de la tupla
30 in t1


**Ejercicios** **Listas**



*  Crear una lista con 40 elementos aleatorios enteros. 
*  Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares
*   Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

*  Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
import random
list1= []
for i in range(0,40):
  al= random.randint(1,1000)
  list1.append(al)
print(list1)


#Crear dos listas a partir de la primera separando numeros pares e impares

def func_listas(list1):
  listpar= []
  listimp= []
  for i in list1:
    if i % 2 ==0:
      listpar.append(i)
    else: 
     listimp.append(i)
  return listpar, listimp

In [ ]:
#Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables
listap,listai = func_listas(list1)

print("lista pares: ", listap)
print("lista impares: ", listai)

In [ ]:
#Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

ordeni= sorted(listai) #sorted ordena la lista de menor a mayor
ordenp= sorted(listap,reverse=True) #Se utiliza reverse=true para ordenar los elementos de mayor a menor
print("listas ordenadas")
print("lista par: ", ordenp)
print("lista impar: ", ordeni)

In [ ]:
#Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.
list1.append(245) #Agrega el numero 245 al final de la lista
print(list1)
list2= list1.copy() #se utiliza la funcion copy para copiar la lista
print(list2)
list1.extend([1005,5003]) #Agrega los numeros al final de la lista
print(list1)
list1.insert(4,3) #Inserta el numero 3 en la quinta posicion de la lista
print(list1)

**Ejercicios Diccionarios**



*   
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
*  Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

*   Usando el diccionario y un loop, imprimir solo los nombres.
*   Añadir dos personas nuevas a tu diccionario, incluyendo edad

In [165]:
#Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

dict1={'Esteban' : 20, 'Jenifer':24, 'Paola':19, 'Angela':20, 'Brandon':22, 'Brayan':23}

In [ ]:
#Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
list(dict1.values())
sorted(list(dict1.values()))

In [ ]:
#Usando el diccionario y un loop, imprimir solo los nombres.
for i in dict1: print(i)

In [ ]:
#Añadir dos personas nuevas a tu diccionario, incluyendo edad
dict1['Carolina']= 21
dict1['Jesus']= 18
print(dict1)

**Ejercicios Sets**



*   Crea un set con 100 numeros aleatorios enteros del 1 al 25.



*   Comprueba la longitud de tu set.



*   
Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [244]:
import random
set1= set()
cont=0

def num_aleatorios():
    al=random.randint(1,25)
    return al

for n in range(0,100):
  num=num_aleatorios()
  set1.add(num)

In [ ]:
#Comprobar longitud del set
print(len(set1)) #Un set no puede tener elementos duplicados
print(set1)

In [ ]:
#Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.
listnew= []

for n in range(0,5):
 num=random.randint(1,10)
 listnew.append(num)

print(listnew)

for i in range(0,5):
 listnew[i] in set1
 print("El valor",listnew[i],"Esta en el set")